<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.sephiroth.android.library.widget"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />
    
    <application
        android:label="HorizontalScroll"
        android:hardwareAccelerated="true">
    </application>

</manifest>
